@page "/"
@attribute [StreamRendering]

@using DnetLibrary.Domain

<PageTitle>Home</PageTitle>

<h1>Places of interest in Nepal</h1>

@if (Places!.Any())
{
    @foreach (var place in Places!)
    {
        <p>@place.Name in @place.Region.ToString() - @place.Id</p>
    }

}
else
{
    <p>Loading...</p>
}

@code{

    List<EntityBase>? Places { get; } = [];

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);

        try
        {
            Places?.AddRange(new List<EntityBase>
            {
                new Temple{Name="Banglamukhi Mandir",Region = CommonTypes.Region.Pahad},
                new Mountain{Name="Pumori", Region = CommonTypes.Region.Himal}
            });
            
        }
        catch (Exception e)
        {
            Console.Write(e.ToString());
        }


    }

}
