@page "/"
@attribute [StreamRendering]

@using DnetLibrary.Domain
@using DnetLibrary.Repo
@using DnetBlazor.Components.Common

@inject RepoMan Repo

<PageTitle>Home</PageTitle>

<h1>Places of interest in Nepal</h1>

<a href="https://github.com/prashantp26/dnet/blob/main/README.md">Read Me [github]</a>

<PlaceTable Places="Temples" Title="Temples"/>

<PlaceTable Places="Mountains" Title="Mountains"/>


<div class="my-5 border small text-black-50 alert alert-light" role="alert">
    This repo attempts to demonstrate use of some C#/.Net, and to some extent, relevant CS concepts through a Blazor webapp project in .Net 8
</div>

@code{

    IEnumerable<Mountain> Mountains { get; set; } = [];
    IEnumerable<Temple> Temples { get; set; } = [];
    
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        Mountains = await Repo.Mountains.GetAll();
        Temples = await Repo.Temples.GetAll();

    }

}
